// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$dark-gray: #5C5C5F;
$teal: #328284;

$green-hover: #ecf3f3;
$green: #328284;
$green-lighter: #05a58d;
$gray: #e9e7e9;
$light-gray: #F4F4F4;
$violet: #4f3558;
