// Specific CSS for your home-page
body {
  color: #212829;
}

.pattern {
  background-image: url("http://backgroundlabs.com/files/white-leather-texture-1945.png");
  background-repeat: repeat;
  height: 400px;
}

.banner-content h1 {
  color: white;
  padding: 20px;
  font-size: 65px;
}

.banner-content h3 {
  color: white;
  padding-bottom: 50px;
  font-size: 35px;
}

.about-box {
  padding-right: 50px;
}

.about-box h2 {
  margin-top: 0;
}

.about-box h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#home-services h2 {
  font-size: 45px;
}

#home-services h4 {
  font-size: 30px;
}

#home-services p {
  font-size: 22px;
}

.get-started h2 {
  font-size: 45px;
}

.get-started .btn {
  width: 300px;
}


#home-banner {
  height: 100vh;
  background-size: cover !important;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-home {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 20px 0 20px;
}

.form-control {
  height: 51px;
  color: $dark-gray;
}

#home-about, #home-services, #home-pets {
  padding: 50px 25px;
}

.wrapper {
  background-color: #f9f9f9;
}

.signup-button {
  padding-bottom: 50px;
}

.homepage {
padding: 30px;
}

.homepage h4 {
  font-size: 25px;
}

.homepage h2 {
 color: $green;
}

.bg-white {
  background-color: white;
}

.bg-light-grey {
  background-color: $light-gray; /* light grey */
}

.bg-purple {
  background-color: $violet;
  h2 {
    color: white;
  } /* light grey */
}

.homepage .glyphicon {
  color: $green;
  font-size: 30px;
}

.projects-button {
  margin: 50px 0px;
}

.project-section {
  padding: 50px 0;
}

.login-icon {
  margin-left: 5px;
}

.roll-in-left {
  -webkit-animation: roll-in-left 1.5s ease-in both;
          animation: roll-in-left 1.5s ease-in both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}



// // Specific CSS for your home-page
// .banner-content h1 {
//   color: white;
//   padding: 20px;
// }

// .banner-content h3 {
//   color: white;
//   padding-bottom: 30px;
// }

// #about-home {
//   background-color: #f9f9f9;
//   text-align: center;
//   padding: 10px 20px 0 20px;
// }

// .form-control {
//   height: 51px;
// }

// #home-about, #home-services, #home-pets {
//   padding: 50px 25px;
// }

// // .wrapper {
// //   background-color: #f9f9f9;
// // }

// .signup-button {
//   padding-bottom: 50px;
// }

// .homepage {
// padding: 30px;
// }

// .homepage h2 {
//  color: $green;
// }

// .bg-white {
//   background-color: white;
// }

// .bg-light-grey {
//     background-color: $light-gray; /* light grey */
// }

// .homepage .glyphicon {
//   color: $violet;
//   font-size: 30px;
// }

// .projects-button {
//   margin: 50px 0px;
// }

// .project-section {
//   padding: 50px 0;
// }
