.white-box {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  margin: 10px 0;
  h3 {
    color: $green;
    text-transform:uppercase;
  }
}

.green-box {
  background: $green;
  color: white;
  // border: 1px solid #ddd;
  width: 100%;
  height: auto;
  padding: 10px 30px;
  text-transform: uppercase;
}

.gray-box {
  background: $gray;
  // border: 1px solid #ddd;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  h3 {
    color: $green;
  }
}

.post-list {
  list-style: none;
  padding: 10px;
}

.green-background {
  background-color: $green-hover;
}

.li {
  list-style: none;
}

.post-footer {
  display: flex;
  justify-content: right;
  margin-right: 71px;
  padding: 10px;
  }
.team-member {
  padding: 20px;
}

.team-member-info {
  height: 140px;
  padding: 20px;
  h4 {
    color: $green-lighter;
    font-weight: 700;
  }
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.application-card{
  padding: 10px;
}
