.white-box {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px;
  height: auto;
  padding: 10px 30px;
}

.green-box {
  background: $green;
  color: white;
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px;
  height: auto;
  padding: 10px 30px;
}

.post-list {
  list-style: none;
}

.li {
  list-style: none;
}

.post-footer {
  display: flex;

justify-content: right;

margin-right: 71px;

padding: 10px;
}
