.cover-img {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: -100px;
}


.card-show {
  background: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px;
  height: auto;
  padding: 10px 30px;
  p{
    margin: 0;
  }
}


.flex-media {
  display: flex;
  justify-content: space-around;
  position: relative;
}


.show-buttons {
  width: 200px;
  height: 50px;
}

.show-apply {
  margin: 0;
}

.charity-info {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px;
  height: auto;
  padding: 10px 30px;
}


.contact-links {
  display: flex;
  align-items: center;
}
.contact-links a {
  color: $violet;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.contact-links a:hover {
  opacity: 1;
}


.project-skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-h3 {
  color: $green-lighter;
}

.project-h4 {
  color: $dark-gray;
}

.project-h1 {
  color: $green;
}

.grey {
  color: $gray;
}

.btn-apply {
  padding: 20px 40px;
}

.fa {
  color: $violet;
}
