<div class="footer">
  <div class="container align-top footer-container">
    <div class="row">

      <div class="footer-left col-md-4" >
        <%= image_tag "logo.png", height: 70 %>
        <p>We <s>create</s> update the world we live in</p>
      </div>

      <div class="col-md-2">
        <h4>Explore</h4>
        <ul>
        <li>Home</li>
        <li>All projects</li>
        <li>Who we are</li>
        <li>How it works</li>
        <li>Carreers</li>
        </ul>
      </div>

      <div class="col-md-2">
        <h4>Visit us</h4>
        <p class="footer-address">Jalan Batu Mejan No. 88, Canggu, Kuta Utara, Bali 80361</p>
      </div>

      <div class="col-md-2">
        <h4>Legal</h4>
         <ul>
        <li>Terms</li>
        <li>Privacy</li>
        </ul>
      </div>

      <div class="col-md-2">

        <div class="footer-right-part">

          <div class="footer-links">
            <h4>Follow us</h4>
            <br></br>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>


          <div class="email">
            <input type="text" placeholder="subscribe for updates">
            <svg viewBox="0 0 16 16">
                <path d="M10.8000002,10.8000002 C9.85000038,11.6500006 9.18349609,12 8,12 C5.80000019,12 4,10.1999998 4,8 C4,5.80000019 5.80000019,4 8,4 C10.1999998,4 12,6 12,8 C12,9.35332031 12.75,9.5 13.5,9.5 C14.25,9.5 15,8.60000038 15,8 C15,4 12,1 8,1 C4,1 1,4 1,8 C1,12 4,15 8,15 C12,15 15,12 15,8"></path>
                <polyline points="5 8.375 7.59090909 11 14.5 4" transform='translate(0 -0.5)'></polyline>
            </svg>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
