<div id="home-banner" class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://images.unsplash.com/photo-1498124987742-5a76f6eaa176?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f7c533c2d5cca0180ab334a68d19a39&auto=format&fit=crop&w=1791&q=80');">
 <div class="banner-content text-center">
  <h1>Change Coders</h1>
   <h3>Get coding experience by working on projects for nonprofits!</h3>

   <%= link_to "View All Projects", projects_path, class: "btn btn-success btn-lg" %>
 </div>
</div>

<div class="wrapper bg-light-grey">
  <div id="home-about" class="container homepage">
    <div class="row">
      <div class="col-sm-8">
        <h2>Code to make a difference</h2>
        <h4>Are you a new or experienced coder looking to build your portfolio? Sign up on Change Coders today to start working with charities and non-profit organizations to improve their websites while expanding your own coding skills! </h4>
        <h4>It's free to sign up and volunteer to help causes you feel passionately about. Choose from many different charitable organizations and help local communities, human rights, animal activists, and more! </h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbbd27149a8243a42eb2bd0bd918ba8f&auto=format&fit=crop&w=1050&q=80", class:'image', width: 500 %>
      </div>
    </div>
  </div>
  <div class="text-center signup-button">
     <%= link_to "Sign Up Today!", projects_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
<div class="wrapper bg-white">
  <div id="home-services" class="container text-center homepage">
    <h2>Our values</h2>
    <h4>What matters to us</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe"></span>
        <h4>INCLUSIVE</h4>
        <p class="dark-text">We are open to ALL developers who want to improve their skills, regardless of experience or location!</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart"></span>
        <h4>GIVE BACK</h4>
        <p class="dark-text">Pick which charities you want to partner with from our large list of partner organizations.</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate"></span>
        <h4>COLLABORATE</h4>
        <p class="dark-text">Meet and work with other developers from all over the world, or work on projects by yourself. The choice is yours!</p>
      </div>
    </div>
</div>
<div class="wrapper bg-light-grey project-section">
  <div class="container homepage text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2>Ready to get started?</h2>
          <div class="text-center projects-button">
     <%= link_to "View Projects!", projects_path, class: "btn btn-success btn-lg" %>
    </div>
      </div>
    </div>
  </div>

</div>

