<div id="home-banner" class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://images.unsplash.com/photo-1498124987742-5a76f6eaa176?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f7c533c2d5cca0180ab334a68d19a39&auto=format&fit=crop&w=1791&q=80');">
 <div class="banner-content text-center">
  <h1>Change Coders</h1>
   <h3>Get coding experience by working on projects for nonprofits!</h3>

   <%= link_to "View All Projects", projects_path, class: "btn btn-success btn-lg" %>
 </div>
</div>

