.btn {
  color: #412c49;
  letter-spacing: 2px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #cfc7d1;
  font-weight: bold;
  box-shadow: 1px 1px 2px #afa3b3;
}
