.form-post {
  background: white;
  margin: 50px auto 20px auto;
  padding: 20px;
  border-radius: 5px;
  h2 {
    color: #666666;
    margin-bottom: 50px;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.skill-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.skill-choice {
  margin: 5px;
  border: 2px solid #05a58d;
  padding: 15px 35px;
  border-radius: 5px;
  opacity: 0.8;
  flex: 0 0 30%;
  text-align: center;
  height: 60px;
  position: relative;
  min-width: 135px;
  color: #5C5C5F;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $violet;
  color: white;
  opacity: 1;
  }
  i {
    padding-right: 5px;
  }
}
.checkbox-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}


.skill-display {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
